
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Authors</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Book.Title</td>
            <td>@Book.Description</td>
            
            <td>
                @string.Join(", ", Book.Author.Select(author => author.Name))
            </td>


            <td>
                <button @onclick="(() => HandleEdit(Book))" class="btn btn-primary">Edit</button>
                <button @onclick="HandleDelete" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>



</table>


@code {
    [Parameter]
    public Books Book { get; set; }

    [Parameter]
    public EventCallback<Books> OnDelete { get; set; }

    [Parameter]
    public EventCallback<Books> OnEdit { get; set; }

    private async Task HandleDelete()
    {
        await OnDelete.InvokeAsync(Book);
    }

    private async Task HandleEdit(Books book)
    {
        await OnEdit.InvokeAsync(book);
    }


}
